doctype html
html
    head   
        title Wetube
    body
        include ../partials/header
        main
            block content
        script(src="https://kit.fontawesome.com/6914218470.js", crossorigin="anonymous")
        include ../partials/footer